body {
  background-color: black;
  color:lightgray;
  font-size: 28px;
  font-family: 'Roboto Mono', monospace;
}



#plansza {
  width: 1300px;
  margin-top:50px;
  margin-bottom:50px;
  text-align: center;
  font-size:48px;
  min-height: 60px;
}

#obrazek {
  float:left;
  width: 700px;
  text-align:center;
  min-height:280px;

}
.final {
  max-width:700px;
}

#alfabet {
  float:left;
  width: 400px;
  text-align:center;
  min-height:280px;
}

.litera{
  width:30px;
  height:30px;
  text-align:center;
  padding:5px;
  margin:5px;
  border:3px solid gray;
  float:left;
  cursor:pointer;
  border-radius:15px;
}
.litera:hover{
  background-color: #222222;
  color:white;
  border: 3px solid white;
}

.reset{
  cursor:pointer;
  color:green;
  font-size:48px;
}
.reset:hover{
  color:white;
}

.button {
  background-color: #222222;
  color:white;
  border: 3px solid white;
  font-size:20px;
}

.button:hover{
  background-color: green;
  cursor:pointer;
}
